{% extends 'base.html.twig' %}

{% block title %}Edit Source{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Edit Source</h1>
            </div>
            <div class="col-md-6 text-right">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-primary btn-submit" data-form_id="checkForm">Check</button>
                    <button type="button" class="btn btn-outline-primary btn-submit" data-form_id="deleteForm">Delete</button>
                    <button type="button" class="btn btn-outline-primary btn-submit" data-form_id="sourceForm">Save</button>
                    <a class="btn btn-outline-primary" href="{{ path('source_show', {'id': source.id}) }}">Back</a>
                </div>
            </div>
        </div>
        {{ include('source/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('source/_delete_form.html.twig') }}
        {{ include('source/_check_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/js.js') }}"></script>
{% endblock %}
