{% extends 'base.html.twig' %}

{% block title %}Edit Source{% endblock %}

{% block body %}
    <div class="container">
        {% embed "parts/header.html.twig" %}
            {% block title %}Edit Source{% endblock %}
            {% block buttons %}
                <button type="button" class="btn btn-outline-primary btn-submit" id="checkForm" data-action="{{ path('source_form_check') }}">Check</button>
                <button type="button" class="btn btn-outline-primary btn-submit" data-form_id="deleteForm">Delete</button>
                <button type="button" class="btn btn-outline-primary btn-submit" data-form_id="sourceForm">Save</button>
                <a class="btn btn-outline-primary" href="{{ path('source_show', {'id': source.id}) }}">Back</a>
            {% endblock %}
        {% endembed %}
        {{ include('source/_form.html.twig') }}
        {{ include('source/_delete_form.html.twig') }}
        {{ include('parts/modal.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/js.js') }}"></script>
{% endblock %}
