{% extends 'base.html.twig' %}

{% block title %}Sources{% endblock %}

{% block body %}

    <div class="container">
        {% embed "parts/header.html.twig" %}
            {% block title %}Sources{% endblock %}
            {% block buttons %}
                <a class="btn btn-outline-primary" href="{{ path('source_new') }}">Create new</a>
            {% endblock %}
        {% endembed %}
        <div class="table-responsive">
            <table class="table table-striped table-hover table-md">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Parser</th>
                        <th>Visibility</th>
                        <th>Tags</th>
                        <th>Errors</th>
                        <th>Updated</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for source in sources %}
                    <tr{% if source.errorCount >= 5 %} class="bg-danger"{% endif %}>
                        <td>{{ source.id }}</td>
                        <td><a href="{{ path('source_items', {'id' : source.id} ) }}"><img src="{{ source.icon }}" width="16" height="16" /></a></td>
                        <td><a href="{{ path('source_show', {'id' : source.id} ) }}">{{ source.name }}</a></td>
                        <td><span class="badge badge-{{ source.enableLabelClass }}">{{ source.enableLabel }}</span></td>
                        <td>{{ get_parser_label(source.parser) }}</td>
                        <td{% if source.createdBy %} title="{{ source.createdBy.name }}"{% endif %}>
                            <span class="badge badge-{{ source.visibilityLabelClass }}">{{ source.visibilityLabel }}</span>
                        </td>
                        <td>{{ include('source/_tags.html.twig') }}</td>
                        <td class="text-right">{{ source.errorCount }}</td>
                        <td class="text-nowrap">{{ source.updatedAt ? source.updatedAt|date('Y-m-d H:i:s') : '-'}}</td>
                        <td><a href="{{ path('source_edit', {'id' : source.id} ) }}">edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
