{% extends 'base.html.twig' %}

{% block title %}Source{% endblock %}

{% block body %}
    <div class="container">
        {% embed "parts/header.html.twig" %}
            {% block title %}Source{% endblock %}
            {% block buttons %}
                <a class="btn btn-outline-primary modal-link" href="{{ path('source_check', {'id': source.id}) }}">Check</a>
                <button type="button" class="btn btn-outline-primary btn-submit" data-form_id="updateForm">Update</button>
                <button type="button" class="btn btn-outline-primary btn-submit" data-form_id="cleanForm">Clean</button>
                <a class="btn btn-outline-primary" href="{{ path('source_edit', {'id': source.id}) }}">Edit</a>
                <a class="btn btn-outline-primary" href="{{ path('source_list') }}">Back</a>
            {% endblock %}
        {% endembed %}
        <table class="table table-striped table-hover table-md">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ source.id }}</td>
            <tr>
                <th>Icon</th>
                <td><img src="{{ source.icon }}"/></td>
            </tr>
            </tr>
            <tr>
                <th>Visibility</th>
                <td><span class="badge badge-{{ source.visibilityLabelClass }}">{{ source.visibilityLabel }}</span></td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ source.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td><a href="{{ source.url }}" target="_blank">{{ source.url[:100] }}{{ source.url|length > 100 ? '...' }}</a></td>
            </tr>
            <tr>
                <th>Parser</th>
                <td>{{ get_parser_label(source.parser) }}</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>{{ source.updatedAt ? source.updatedAt|date('Y-m-d H:i:s') : '-' }}</td>
            </tr>
            <tr>
                <th>Schedule At</th>
                <td>{{ source.scheduleAt ? source.scheduleAt|date('Y-m-d H:i:s') : '-' }}</td>
            </tr>
            <tr>
                <th>Error Count</th>
                <td>{{ source.errorCount }}</td>
            </tr>
            <tr>
                <th>Update Interval</th>
                <td>{{ source.updateInterval }}</td>
            </tr>
            <tr>
                <th>Items count</th>
                <td><a href="{{ path('source_items', {'id' : source.id} ) }}">{{ itemsCount }}</a></td>
            </tr>
            <tr>
                <th>Created by</th>
                <td>{{ source.createdBy ? source.createdBy.name : '-' }}</td>
            </tr>
            </tbody>
        </table>
         {{ include('source/_clean_form.html.twig') }}
         {{ include('source/_update_form.html.twig') }}
         {{ include('parts/modal.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/js.js') }}"></script>
{% endblock %}

