{% for item in items %}
    <div class="row item">
        <div class="col-md-2">
            {% if (date is not defined) or (date is defined and item.startDate|date() != date|date()) %}
                <div class="item-date">
                    {{ item.startDate|date() }}
                </div>
            {% endif %}
        </div>
        <div class="col-md-10 item-title">
            {% if item.source.icon %}
                <a href="{{ path('source_items', {'id' : item.source.id} ) }}">
                    <img src="{{ item.source.icon }}" width="16" height="16" />
                </a>
            {% endif %}
            <a  class="item-link" href="{{ item.link }}" target="_blank">{% include 'parts/event_time.html.twig' with {"type": "event"} %}{{ item.title }}</a>
        </div>
    </div>
    {% set date = item.startDate %}
{% endfor %}
