{% for item in items %}
    <div class="row item">
        <div class="col-md-2">
            {% if (date is not defined) or (date is defined and item.publishedAt|date("d.m.Y") != date|date("d.m.Y")) %}
                <div class="item-date">
                    {{ item.publishedAt|date("d.m.Y") }}
                </div>
            {% endif %}
        </div>
        <div class="col-md-10 item-title">
            {% if item.source.icon %}
                <a href="{{ path('source_index', {'id' : item.source.id} ) }}">
                    <img src="{{ item.source.icon }}" width="16" height="16" />
                </a>
            {% endif %}
            <a  class="item-link" href="{{ item.link }}" target="_blank">{{ item.title }}</a>
        </div>
    </div>
    {% set date = item.publishedAt %}
{% endfor %}
